 body,
 html {
   height: 100%;
   margin-left: 2rem;
   background-color: #f5f5f5f2;
 }

 h1 {
   display: flex;
   justify-content: center;
   text-align: center;
 }

 .epartsentence {
   width: 50%;
   height: auto;
   background-color: #f5f5f5f2;

 }

 .writespeaklisten {
   position: relative;
   display: flex;
   /* left: 40%; */
   top: 1rem;
   width: 100%;
   background-color: #f5f5f5f2;
   color: #f5f5f5f2;
 }

 .writespeaklisten #inputText {
   /* font-size: 1rem; */
 }

 #write {
   color: #f5f5f5f2;
   background-color: rgb(165, 0, 0);
 }

 #listen {
   color: #f5f5f5f2;
   background-color: rgb(0, 47, 147);
 }